{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Clicks</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'clicks.css' %}">

</head>
<body>
    <header>
        <div class="logo">Kshitij Akarsh</div>
    </header>
  <div class="container">
    <div class="card">
        <img src="{% static 'myclicks/click4.jpg' %}" alt="Image 1">
    </div>
    <div class="card">
        <img src="{% static 'myclicks/click1.jpg' %}" alt="Image 1">
    </div>
    <div class="card">
        <img src="{% static 'myclicks/click7.jpg' %}" alt="Image 1">
    </div>
    <div class="card">
        <img src="{% static 'myclicks/click3.jpg' %}" alt="Image 1">
    </div>
    <div class="card">
        <img src="{% static 'myclicks/click5.jpg' %}" alt="Image 1">
    </div>
    <div class="card">
        <img src="{% static 'myclicks/click6.jpg' %}" alt="Image 1">
    </div>
  </div>
</body>
</html>
